<!-- Quickview Product-->
<div id="quickview-wrapper">
  <!-- Modal -->
  <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="modal-product">
            <!-- Start product images -->
            <div class="product-images">
              <div class="main-image images">
                <img alt="" src="" class="img-responsive">
              </div>
            </div>
            <!-- end product images -->
            <div class="product-info">
              <h1>Sleeve High Neck Bodycon Dress </h1>
              <div class="price-box">
                <p class="price"><span class="special-price"><span class="amount">$132.00</span></span></p>
              </div>
              <a href="shop.html" class="see-all">{{ 'products.product.see_all_features' | t }}</a>
              <div class="quick-add-to-cart">
                <form class="cart" action="/cart/add" method="post" enctype="multipart/form-data" id="addToCartForm">
                  <div class="numbers-row">
                    <input type="hidden" id="id" name="id" value="" />
                    <input type="number" name="quantity" id="quantity" value="1">
                  </div>
                  <button class="single_add_to_cart_button" type="submit">{{ 'products.product.add_to_cart' | t }}</button>
                </form>
              </div>
              <div class="quick-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero.
              </div>
              <div class="social-sharing">
                <div class="widget widget_socialsharing_widget">
                  <h3 class="widget-title-modal">{{ 'products.product.share_this_product' | t }}</h3>
                  <ul class="social-icons">
                    <li><a target="_blank" title="Facebook" href="#" class="facebook social-icon"><i class="fa fa-facebook"></i></a></li>
                    <li><a target="_blank" title="Twitter" href="#" class="twitter social-icon"><i class="fa fa-twitter"></i></a></li>
                    <li><a target="_blank" title="Pinterest" href="#" class="pinterest social-icon"><i class="fa fa-pinterest"></i></a></li>
                    <li><a target="_blank" title="Google +" href="#" class="gplus social-icon"><i class="fa fa-google-plus"></i></a></li>
                    <li><a target="_blank" title="LinkedIn" href="#" class="linkedin social-icon"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- .product-info -->
          </div>
          <!-- .modal-product -->
        </div>
        <!-- .modal-body -->
      </div>
      <!-- .modal-content -->
    </div>
    <!-- .modal-dialog -->
  </div>
  <!-- END Modal -->
</div>
<!-- End Quickview Product -->  