<!-- Title Page -->
<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m"  {% if settings.show_about_top_image %}style="background-image:url({{ 'about_top.jpg' | asset_url }});" {% endif %}>
  <h2 class="l-text2 t-center">
    {{ page.title }}
  </h2>
</section>
<!-- content page -->
<section class="bgwhite p-t-66 p-b-38">
  <div class="container">
    <div class="row">
      <div class="col-md-4 p-b-30">
        <div class="hov-img-zoom">
          {% if settings.show_about_top_image %}
          <img src="{{ 'about_story.jpg' | asset_url }}" alt="">
          {% endif %}
        </div>
      </div>
      <div class="col-md-8 p-b-30">
        {{ page.content }}
      </div>
    </div>
  </div>
</section>
