<!-- Title Page -->
<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m"  style="background-color:#000;">
  <h2 class="l-text2 t-center">
    {{ page.title }}
  </h2>
</section>
<!-- content page -->
<section class="bgwhite p-t-66 p-b-38">
  <div class="container">
    <div class="row">
      <div class="col-md-12 p-b-30">
        {{ page.content }}
      </div>
    </div>
  </div>
</section>
